/*Limpar formatações Padrões*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #e6e6e6;
}
/*----Layout-----*/
#cabecalho{
    background: #0d6b4c;
    padding: 15px;
    text-align: center;

}
#titulo-blog, #menu{
    padding: 10px;

}
#conteudo{
    width: 920px;
    margin: 0px auto;
    padding: 15px;
}
#artigo, #menu-lateral{
    float: right;
}
#artigo{
    width: 660px;
    float: left;
}
#menu-lateral{
    width: 240px;
}
.post{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}
.post-programa{
    padding: 20px;
    margin-bottom: 20px;
    background: white;

}
.post-programa img{
    width: 150px;
}
.post-programa p, .post-programa a{
    width: 400px;  
    float: left;  
    margin-right: 25px;
}
.post-informatica{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    text-align: center;
}
.post-informatica p{
    text-align: justify;
    padding: 5px;
}
.post-eletronicos{
    padding: 20px;
    background: white;
    text-align: center;
    border: 1px solid red;
    margin: 0px auto 20px 200px;
}
.post-eletronicos p{
    text-align: justify;
    padding: 5px;
}
#rodape-eletronicos{
    clear: both;
    text-align: center;
    background: #CCC;
    padding: 15px;
}
#rodape{
    clear: both;
    text-align: center;
    background: #CCC;
    padding: 15px;
}
.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}
.artigo-lateral{
    border-bottom: 1px solid cadetblue
}
/*----Formatações do Menu-----*/
a{
    text-decoration: none;
}
a:link, a:visited{
    color: rgb(13, 107, 76);

}
a:hover{
    text-decoration: underline;
}
#cabecalho a:link, #cabecalho a:visited{
    color: white;
    padding: 10px 8px;
}
#cabecalho a:hover{
    color:rgb(13, 107, 76);
    background: white;
    text-decoration: none;
}
.conteudo-lateral a{
    display: block;
    padding: 3px;
}

/*----Formatações em Geral ----*/
h1{
    color: #948f8f;
    font-size: 2.5em;

}
h2{
    color: #0d6b4c;
}
.data-artigo{
    font-size: 0.8em;
    border-bottom: 1px solid #dbd3d3;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}
.branco{
    color: white;
}
h3{
    color: rgb(13, 107, 76);
    background: #CCC;
    margin-bottom: 3px;
    padding: 5px;
}
.txt-lateral{
    font-size: 0.8em;
    padding: 5px;
}
